[Unit]
Description=Emporia Proxy Service
DefaultDependencies=no
After=network.target

[Service]
Type=simple
User=pi
Group=pi
ExecStart=/home/pi/emporia_proxy.sh
TimeoutStartSec=0
RemainAfterExit=yes
Restart=on-failure
RestartSec=15s

[Install]
WantedBy=default.target
