[Unit]
Description=EV Auto Charge Service
DefaultDependencies=no
After=network.target

[Service]
Type=simple
User=pi
Group=pi
ExecStart=/home/pi/EV_adaptive_charging.sh
TimeoutStartSec=0
RemainAfterExit=yes
Restart=on-failure
RestartSec=15s

[Install]
WantedBy=default.target
