[Unit]
Description=HVAC adaptive
DefaultDependencies=no
After=network.target

[Service]
Type=simple
User=pi
Group=pi
ExecStart=/home/pi/HVAC_adaptive.sh
TimeoutStartSec=0
RemainAfterExit=yes
Restart=on-failure
RestartSec=15s

[Install]
WantedBy=default.target
