[Unit]
Description=Sensor Logger Service
DefaultDependencies=no
After=network.target

[Service]
Type=simple
User=pi
Group=pi
ExecStart=/home/pi/sensor_logger.sh
TimeoutStartSec=0
RemainAfterExit=yes
Restart=on-failure
RestartSec=30s

[Install]
WantedBy=default.target
