[Unit]
Description=Car Sensor Service
After=nameserver.service watchdog.service bluetooth.service
Wants=nameserver.service watchdog.service bluetooth.service

[Service]
Type=simple
User=jcompost
Group=dialout
ExecStart=python3 /home/jcompost/src/car_sensor.py
TimeoutStartSec=0
Restart=always
RestartSec=10s

[Install]
WantedBy=default.target
