[Unit]
Description=Pyro Nameserver Service

[Service]
Type=simple
User=pi
Group=pi
ExecStart=python3 /home/pi/src/nameserver.py
TimeoutStartSec=0
Restart=always
RestartSec=5s

[Install]
WantedBy=default.target
