[Unit]
Description=Pool Pump Service
After=nameserver.service watchdog.service scheduler.service power_simulator.service weather.service
Wants=nameserver.service watchdog.service scheduler.service power_simulator.service weather.service

[Service]
Type=simple
User=jcompost
Group=jcompost
ExecStart=python3 /home/jcompost/src/pool_pump.py
TimeoutStartSec=0
Restart=always
RestartSec=10s

[Install]
WantedBy=default.target
