[Unit]
Description=Power Sensor Service
After=nameserver.service network-online.target watchdog.service
Wants=nameserver.service network-online.target watchdog.service

[Service]
Type=simple
User=pi
Group=pi
ExecStart=python3 /home/pi/src/power_sensor.py
TimeoutStartSec=0
Restart=always
RestartSec=10s

[Install]
WantedBy=default.target
