[Unit]
Description=Power Sensor Simulator
After=nameserver.service watchdog.service power_sensor.service weather.service
Wants=nameserver.service watchdog.service power_sensor.service weather.service

[Service]
Type=simple
User=pi
Group=pi
ExecStart=python3 /home/pi/src/power_simulator.py
TimeoutStartSec=0
Restart=always
RestartSec=10s

[Install]
WantedBy=default.target
