[Unit]
Description=Watchdog Service
After=nameserver.service
Wants=nameserver.service

[Service]
Type=simple
User=jcompost
Group=jcompost
ExecStart=python3 /home/jcompost/src/watchdog.py
TimeoutStartSec=0
Restart=always
RestartSec=5s

[Install]
WantedBy=default.target
