[Unit]
Description=Watchdog Service
After=nameserver.service
Wants=nameserver.service

[Service]
Type=simple
User=pi
Group=pi
ExecStart=python3 /home/pi/src/watchdog.py
TimeoutStartSec=0
Restart=always
RestartSec=5s

[Install]
WantedBy=default.target
