[Unit]
Description=Water Heater Service
After=nameserver.service watchdog.service scheduler.service
Wants=nameserver.service watchdog.service scheduler.service

[Service]
Type=simple
User=jcompost
Group=jcompost
ExecStart=python3 /home/jcompost/src/water_heater.py
TimeoutStartSec=0
Restart=always
RestartSec=10s

[Install]
WantedBy=default.target
